body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	background-color: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
}

div {
	margin: auto;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.button{
	outline: none;
	border: none;
	cursor: pointer;
	display: block;
	position: relative;
	background: #fcad26;
	font-size: 16px;
	font-weight: 300;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 25px 80px;
	margin: 0 auto;
	box-shadow: 0 6px #efa424;
	border-radius: 20px;
	text-align: center;
}

.button:hover {
	box-shadow: 0 4px #efa424;
	top: 2px;
}

.button:active {
	box-shadow: 0 0 #efa424;
	top: 6px;
}

.completed {
	color: gray;
	text-decoration: line-through;
}

input {
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 3px solid rgba(0,0,0,0);
}

input:focus{
	background-color: white;
	border: 3px solid #2980b9;
	outline: none;
}

#container {
	width: 360px;
	margin: 100px auto;
	background-color: #f7f7f7;
	box-shadow: 0 0 30px rgba(0,0,0, 0.1);		
}

.form-field {
  margin: 40px auto;
}

.summary {
	text-align: center;
	font-size: 18px;
	color: white;
}

.city {
	text-align: center;
	font-size: 24px;
	color: black;
}

button {
  margin: 30px auto;
}